.employee-card {
    position: relative;
    width: 280px;
    transition: transform 0.1s ease-in, box-shadow 0.1s ease-in;
}

.employee-card:hover{
    transform: scale(102%);
} 

/* e-card header and image styles  */
.employee-card img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
    user-select: none;
}

.employee-card .e-card__header {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}

/* e-card footer stayles */
.employee-card .e-card__footer {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
}

.employee-card .e-card__footer h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.employee-card .e-card__footer h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}

.employee-card .remove-button {
    position: absolute;
    visibility: visible;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

.e-card__footer .favorite-button {
    position: relative;
    align-self: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.e-card__footer .favorite-button__icon {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    cursor: pointer;
}

.e-card__footer .favorite-button__icon.on {
    visibility: visible;
    z-index: 2;
    animation: Punch 0.3s ease-in;
}

.e-card__footer .favorite-button__icon.off {
    visibility: hidden;
}

.container {
    position: relative;
}

.employee-card .remove-button:hover {
    color: rgba(0, 0, 0, 0.8);
}

.employee-card.animate-click {
    animation: DropCard 0.2s ease-out forwards;
}

@keyframes DropCard {
    0% {
        transform: scale(100%);
        opacity: 1;
    }
    50% {
        transform: scale(110%);
    }
    100% {
        opacity: 0;
        transform: scale(50%);
    }
}

@keyframes Punch {
    0% {
        transform: scale(0%);
        opacity: 0;
    }
    20% {
        transform: scale(130%);
        opacity: 0.4;
    }
    65% {
        transform: scale(50%);
        opacity: 0.7;
    }
    80% {
        transform: scale(110%);
        opacity: 0.6;
    }
    100% {
        transform: scale(100%);
        opacity: 1;
    }
}